<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Registration</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">CS50 Registration</a>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
