{% extends "layout.html" %}

{% block body %}
    <div class="container p-5 text-center">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Registration Successful!</h4>
            <p>Thank you for signing up. Your information has been saved to our database.</p>
        </div>
        
        <div class="mt-4">
            <a href="/" class="btn btn-primary">Register Another Student</a>
            <a href="/registrants" class="btn btn-outline-secondary">View All Registrants</a>
        </div>
    </div>
{% endblock %}
